# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy client

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: install deps
        working-directory: ./
        run: npm i
      - name: install client deps
        working-directory: ./client
        run: npm i
      - name: build client
        working-directory: ./
        run: npm run client:build
      - name: create artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./client/build

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    # - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      with:
        name: build
        path: ./client/build
    - uses: appleboy/ssh-action@v0.1.9
      with:
        host: ${{ secrets.HOST }}
        port: 7822
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        # or use 'key: ${{ secrets.SSH_KEY }}' if you prefer key-based auth
        script_stop: true
        source: "./client/build/*"
        target: "/var/www/planka/public/"
        script: |
          # Cleanup old static files
          rm -rf /var/www/planka/public/static/js
          rm -rf /var/www/planka/public/static/css

          # Move index.html to views folder
          cp /var/www/planka/public/index*.html /var/www/planka/views/

          # Convert to EJS template
          cd /var/www/planka/views/
          cp index.html index.ejs
          rm index.html

          # Restart Planka service
          sudo yunohost service restart planka
