# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy client

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: install deps
        working-directory: ./
        run: npm i
      - name: install client deps
        working-directory: ./client
        run: npm i
      - name: build client
        working-directory: ./
        run: npm run client:build
      - name: create artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./client/build

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    # - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      with:
        name: build
        path: ./client/build

    # Step 1: Deploy build files via rsync (with cleanup)
    - name: Deploy Planka build files
      uses: appleboy/rsync-action@v0.1.9
      with:
        host: ${{ secrets.HOST }}
        port: 7822
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        source: "client/build/"
        target: "/var/www/planka/public/"
        flags: "-avz --delete"   # archive mode, compress, delete old files
        rsync_path: "mkdir -p /var/www/planka/public && rsync"  # ensures folder exists

    # Step 2: Finalize deployment and restart service
    - name: Finalize deployment and restart Planka
      uses: appleboy/ssh-action@v0.1.9
      with:
        host: ${{ secrets.HOST }}
        port: 7822
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script_stop: true
        script: |
          cp /var/www/planka/public/index*.html /var/www/planka/views/
          cd /var/www/planka/views/
          cp index.html index.ejs
          rm index.html
          sudo yunohost service restart planka
